.nav-header{
    padding: 0.5rem 1rem;
}

.bar-separator{
    padding: 0rem 0.5rem;
    margin: 0.5rem 0rem;
    border-right: solid;
}

.logo {
    border-style: solid;
    padding: 0.25rem 2rem;
    border-color: black;
    border-width: 0.1rem;
    margin: 0rem 2rem;
}

.inputWithIcon {
    width: 19.5rem;
    background: transparent !important;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    border-color: black;
    padding: 0.5rem 2rem;
}

.active {
    font-weight: bold;
    color: black !important;
}

::placeholder {
    color: black;
    opacity: 1;
}

#box_icone_busca {
    position: relative;
    left: -19rem;
}

#box_icone_xmark {
    position: relative;
    left: -3.5rem;
}

#icone_busca, #icone_xmark {
    color: #000;
    cursor: pointer;
}

footer {
    padding: 2rem;
}

header, footer{
    background: lightgray;
}
