.nav-header{
    padding: 0.5rem 1rem;
}

.logo {
    border-style: solid;
    padding: 0.25rem 2rem;
    border-color: black;
    border-width: 0.1rem;
    margin: 0rem 0rem;
    font-weight: bold;
    color: black !important;
}

.inputWithIcon {
    width: 75vw;
    background: transparent !important;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    border-color: black;
    padding: 0.5rem 2rem;
}

::placeholder {
    color: black;
    opacity: 1;
}

#box_icone_busca {
    position: relative;
    left: -74vw;
}

#box_icone_xmark {
    position: relative;
    left: -3.5rem;
}

#icone_busca, #icone_xmark {
    display: contents;
    color: #000;
    cursor: pointer;
}

footer {
    padding: 2rem;
}

header, footer{
    background: lightgray !important;
}

@media (min-width: 1200px)
{
    .bar-separator{
        padding: 0rem 0.5rem;
        margin: 0.5rem 0rem;
        border-right: solid;
    }

    .active {
        font-weight: bold;
        color: black !important;
    }

    .inputWithIcon {
        width: 19.5rem;
        margin-left: 1rem;
    }

    .logo {
        margin: 0rem 2rem;    
    }

    #box_icone_busca {
        left: -19rem;
    }
    
    #box_icone_xmark {
        left: -3.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1200px)
{
    .inputWithIcon {
        width: 50vw;
    }

    #box_icone_busca {
        left: -49.5vw;
    }
    
    #box_icone_xmark {
        display: -3.5rem;
    }
}

@media (min-width: 390px) and (max-width: 768px)
{
    .copyright-footer {
        width: 100%;
    }

    .logo-footer {
        text-align: center !important;
    }
}

@media(max-width: 390px)
{
    #icone_busca, #icone_xmark {
        display: none;
    }

    .inputWithIcon {
        padding: 0.5rem;
    }

    .copyright-footer {
        width: 100%;
    }

    .logo-footer {
        text-align: center !important;
    }
}